@model List<UserFriend>

@foreach(var item in Model)
{
    <div class="d-md-flex align-items-center mb-4">
        <!-- Avatar -->
        <div class="avatar me-3 mb-3 mb-md-0">
            @if (item.User.ProfilePicture == null)
            {
                <img class="avatar-img rounded-circle" src="/assets/images/pp.png" alt="">
            }
            else
            {
                <img class="avatar-img rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(item.User.ProfilePicture))" alt="">
            }
        </div>
        <!-- Info -->
        <div class="w-100">
        <div class="d-sm-flex align-items-start">
            <h6 class="mb-0"><a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@item.User.Id">@(!String.IsNullOrEmpty(item.User.Name) ? item.User.Name : item.User.UserName) </a></h6>
            <p class="small ms-sm-2 mb-0">Full Stack Web Developer</p>
        </div>
        <!-- Connections START -->
        <ul class="avatar-group mt-1 list-unstyled align-items-sm-center">
            <li class="small">
            Joan Wallace and Larry Lawson shared connections
            </li>
        </ul>
        <!-- Connections END -->
        </div>
        <!-- Button -->
        <div class="ms-md-auto d-flex">
        <button class="btn btn-danger-soft btn-sm mb-0 me-2" onclick="RemoveFollower('@item.Id')"> Remove Follower </button>
        </div>
    </div>
}
