@model List<ApplicationUser>

<div class="col-sm-6 col-lg-12">
    <div class="card">
        <!-- Card header START -->
        <div class="card-header pb-0 border-0">
        <h5 class="card-title mb-0">Who to follow</h5>
        </div>
        <!-- Card header END -->
        <!-- Card body START -->
        <div class="card-body">
        @foreach(var item in Model)
        {
            <div class="hstack gap-2 mb-3">
            <!-- Avatar -->
            <a class="avatar" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@item.Id">
                @if (item.ProfilePicture==null)
                {
                    <img class="avatar-img rounded-circle" src="/assets/images/pp.png" alt="">
                }
                else
                {
                        <img class="avatar-img rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(item.ProfilePicture))" alt="">
                }
            </a>
            <!-- Title -->
            <div class="overflow-hidden">
            <a class="h6 mb-0" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@item.Id">@(!String.IsNullOrEmpty(item.Name) ? item.Name : item.UserName) </a>
            </div>
            <!-- Button -->
            <button class="btn btn-primary-soft rounded-circle icon-md ms-auto" onclick="AddRequest('@item.Id')"><i class="fa-solid fa-plus"> </i></button>
            </div>
        }
           
        <!-- Card body END -->
        </div>
    </div>
</div>

 <script>
function AddRequest(id) {
    $.ajax({
         type: "POST",
         url: "/Home/AddRequest?id=" + id,
         success: function (result) {
             if (result.code == 0) {
                 location.reload();       
             }
             else {
                 alert(result.message); 
             }                    
         },
         error: function (result) {
             alert('An error occured');
         }
     }); 
}
</script>